# Configuração do Firebase para Android
android/app/google-services.json

# Configuração do Firebase gerada pelo FlutterFire CLI
lib/core/firebase/

# Cache e configurações locais do Firebase CLI
/.firebase/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/.gradle
/android/build

# Arquivos de keystore para assinatura do app (Android)
*.jks
*.keystore
android/key.properties